ol li{
    background-color:yellow;
}

.par{
    color:green;
}

.impar{
    text-transform:uppercase;
}

.header{
    color:red;
}

.em{
    font-size: 40px;
    border: 1px black solid;
}

li{
    font-size= 20px;
}

li em{
    font-weight: bold;
}

.linguagens li:first-of-type{
    color: blue;
}

.linguagens .java{
    color: blue;
    background-color: pink;
}

.links li a{
    text-decoration:none;
    color: none;
}

.links li:first-child a:first-child:hover{
    color: orange;
    font-weight: bold;
}

.links li:nth-child(2) a:hover{
    color: green;
    font-weight: bold;
}

.links li:nth-child(3) a:hover{
    color:black;
    font-weight:bold;
}

.links li:nth-child(4) a:hover{
    color: yellow;
    font-weight: bold;
}

.links li:nth-child(5) a:hover{
    color:lightgreen;
    font-weight: bold;
}