body {
    background-color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    text-align: center;
    background-color: crimson;
    color: white;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -50px;
    margin-bottom: -20px;
    padding-top: 3px;
    height: 60px;
    vertical-align: center;
}

nav {
    background-color: darkblue;
    color: whitesmoke;
    margin-left: -10px;
    margin-right: -50px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 15px;
}

main h2{
    margin-left: 50px;
}

aside {
    float: right;
    background-color: crimson;
    color: whitesmoke;
    text-align: justify;
}

aside h3 {
    text-align: center;
}

aside li {
    margin-right: 10px;
    margin-left: -20px;
    list-style-type: none;
}

.cores {
    margin-bottom: 70px;
}

.cores img{
   float: left;
   margin-right: 5px;
   border-radius: 40%; 
}

.boxe {
    margin-bottom: 70px;
    float: left;
}

.boxe img {
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 40%;
}

.aquario {
    margin-bottom: 70px;
    float: right;
}

.aquario img {
    float: left;
    margin-right: 5px;
    border-radius: 40%;
}

.ref {
    display: inline-block;
    background-color: darkblue;
    color: whitesmoke;
    margin-left: -10px;
    margin-right: -200px;
    margin-bottom: 100px;
}

.ref h3 {
    margin-left: 40px;
}

.ref a {
    text-decoration: none;
    color: whitesmoke;
}

.ref li {
    display: inline-block;
    margin-right: 90px;
}

.ref a:hover {
    color: crimson;
}

.video {
    text-align: center;
    margin-bottom: 100px;
}

footer {
    display: block;
    background-color: crimson;
    color: whitesmoke;
    height: 50px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -50px;
    margin-top: -20px;
}

footer p {
    margin-left: 20px;
}