div:hover{
    border-style:solid;
    border-color: blue;
}
div:first-of-type{
    color: blue;
    font-style:italic;
}
div:nth-of-type(2n){
    color: green;
}
div:nth-of-type(3n){
    color: pink;
    background-color:black;
    font-size:1.5em;
    font-style:italic;
}
div:nth-of-type(4n){
    color: darkblue;
}
div:nth-of-type(5n){
    color:greenyellow;
    font-style:italic;
}