h1 {
    width: "65px";
    color: orange;
    font-family: sans-serif;
}

.favorite-color {
    background-color: paleturquoise;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
    font-style: unset;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}